:root {
  
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #190A24;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  height: 80px;
}

nav div {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 1%;
}

nav div img {
  width: 3rem;
  margin-right: .5%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
  padding: 1%;
  margin-right: 1%;
}

nav a {
  color: rgb(158, 138, 178);
  transition: .3s;
  text-decoration: none;
}

nav a:visited {
  color: rgb(158, 138, 178);
}

nav a:hover {
  color: white;
}

nav a:active {
  color: white;
}




body {
  background-image: url("background.png") ;
  height: 5000px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

section {
  display: flex;
  width: 1700px;
}

.intro {
  margin-top: 100px;
}

.intro div {
  width: 40%;
  padding: 10% 0 10% 10% ;

}

.intro img {
  width: 600px;
  height: 450px;
  margin: 5%;
}


.arrowIcon {
  width: 30px;
  margin-top: 10px;
}


.about {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.aboutText {
  width: 50%;
  padding: 2% 0 2% 10%;
}

.aboutText p {
  font-weight: 400;
  font-size: 1.4rem;
}

.largeSkillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.largeSkillTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 235px;
  background-color: #2e1b43;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  margin: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.largeSkillTile p {
  font-size: 1.35rem;
  font-weight: 500;
}

.largeSkillTile:nth-child(2) p {
  margin: 10px 0 -25px 0;
}

.largeSkillTile img {
  width: 100px;
  margin: 0 0 30px 0;
}

.smallSkillsContainerCenter {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.smallSkillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.smallSkillTile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #2e1b43;
  padding: 20px;
  border-radius: 30px;
  margin: 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.smallSkillTile img {
  width: 60px;
  margin: 10px 0 15px 0;
}

.smallSkillTile:last-child img {
  width: 45px;
}



.projects {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.projects h1 {
  padding: 0 0 2% 10%;
}

.projectTileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectTile {
  width: 400px;
  height: 100%;
  background-color: #483165;
  border-radius: 15px;
  margin: 0 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.projectTile img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.projectTile div {
  padding: 20px;
}

.projectTile p {
  font-size: 1rem;
  margin: 10px 0;
}

.projectTile ul {

}

.projectTile ul li {
  all: unset;
  margin: 0 12px 0 0;
}

.projectTile ul li:nth-child(1) {
  color: #54B7FF;
}

.projectTile ul li:nth-child(2) {
  color: #DB49FF;
}

.projectTile ul li:nth-child(3) {
  color: #55FFB8;
}










.contact {
  display: flex;
  flex-direction: column;
  padding-top: 130px;
}

.contact h1 {
  margin-left: 10%;
}

.contactRow2 {
  display: flex;
  justify-content: space-between;
}

.notificationIcons {
  width: 800px;
  margin-right: 150px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #483165;
  border-radius: 30px;
  width: 400px;
  height: 550px;
  padding: 5%;
  box-sizing: border-box;
  margin-left: 200px;
  margin-top: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contactForm {
  display: flex;
  align-items: center;
  background-color: #2e1b43;
  border-radius: 10px;
  padding: 3%;
}

.mailIcon {
height: 27px;
}

.profileIcon {
  height: 35px;
}

.messageIcon {
  height: 35px;
  margin: 5px 0 0 0;
}


.contactForm div,
.messageForm div {
  margin-left: 5%;
}

.contactForm input {
  all: unset;
  width: 95%;
  background-color: transparent;
  border: none;
  color: white;
}

.messageForm textArea {
  all: unset;
  width: 95%;
  resize: none;
  background-color: transparent;
  border: none;
  color: white;
}

.messageForm {
  display: flex;
  background-color: #2e1b43;
  border-radius: 10px;
  padding: 3%;
  height: 200px;
}

.contactContainer button{
  border-radius: 30px;
  width: 100%;
  background-color: #190b25;
  border: none;
  color: white;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
}  
  
  @media screen and (min-width: 1501px) and (max-width:1700px) {
  
    /* Lower section width */
    section {
      display: flex;
      width: 1300px;
    }

    /* Increase the width to fit links */ 
    nav ul {
      display: flex;
      justify-content: space-between;
      width: 22%;
      list-style-type: none;
      padding: 1%;
      margin-right: 1%;
    }

    /* Increased width to better cover section */
    .aboutText {
      width: 60%;
      padding: 2% 0 2% 10%;
    }

    /* Increased width to better cover section */
    .smallSkillsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
    }

    .notificationIcons {
      width: 10px;
      margin-right: 150px;
    }

  }

  @media screen and (min-width: 1301px) and (max-width:1500px) {
  
    /* Lower section width */
    section {
      display: flex;
      width: 1300px;
    }

    /* Increase the width to fit links */ 
    nav ul {
      display: flex;
      justify-content: space-between;
      width: 25%;
      list-style-type: none;
      padding: 1%;
      margin-right: 1%;
    }

    /* Increased width to better cover section */
    .aboutText {
      width: 60%;
      padding: 2% 0 2% 10%;
    }

    /* Increased width to better cover section */
    .smallSkillsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
    }

    .notificationIcons {
      width: 10px;
      margin-right: 150px;
    }

  }

  @media screen and (min-width: 1001px) and (max-width:1300px) {
  
    /* Lower section width */
    section {
      display: flex;
      width: 900px;
    }

    /* Increase the width to fit links */ 
    nav ul {
      display: flex;
      justify-content: space-between;
      width: 30%;
      list-style-type: none;
      padding: 1%;
      margin-right: 1%;
    }

    /* Changed flex direction to column */
    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
    
    /* Increased width to fit screen */
    .intro div {
      width: 100%;
      padding: 10% 0 10% 10% ;
    }

    .intro div p {
      width: 80%;
    }
    
    /* Lowered top margin and increased bottom margin */
    .intro img {
      width: 600px;
      height: 450px;
      margin: 0 5% 10% 5%;
    }


    /* Increased width to better cover section */
    .aboutText {
      width: 100%;
      padding: 2% 2% 3% 2%;
    }

    .aboutText p {
      width: 90%;
    }

    /* Increased width to better cover section */
    .smallSkillsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
    }


    .projects h1 {
      padding: 0 0 2% 2%;
    }


    .notificationIcons {
      width: 10px;
      margin-right: 150px;
    }

  }

  @media screen and (min-width: 701px) and (max-width:1000px) {
  
    /* Lower section width */
    section {
      display: flex;
      width: 700px;
      border: solid red 1px;
    }

    /* Increase the width to fit links */ 
    nav ul {
      display: flex;
      justify-content: space-between;
      width: 30%;
      list-style-type: none;
      padding: 1%;
      margin-right: 1%;
    }

    /* Changed flex direction to column */
    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
    }
    
    /* Increased width to fit screen */
    .intro div {
      width: 100%;
      padding: 10% 0 10% 10% ;
    }

    .intro div p {
      width: 80%;
    }
    
    /* Lowered top margin and increased bottom margin */
    .intro img {
      width: 600px;
      height: 450px;
      margin: 0 5% 10% 5%;
    }


    /* Increased width to better cover section */
    .aboutText {
      width: 100%;
      padding: 2% 2% 3% 2%;
    }

    .aboutText p {
      width: 90%;
    }

    /* Increased width to better cover section */
    .smallSkillsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
    }


    .projects h1 {
      padding: 0 0 2% 2%;
    }


    .notificationIcons {
      width: 10px;
      margin-right: 150px;
    }

  }

